table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 10px;
  font-size: 18px;
}
.wrapper {
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
